[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
tqdm = "*"
scipy = "*"
pyscipopt = "*"
torch = "*"
seaborn = "*"
python-sat = {extras = ["aiger", "approxmc", "pblib"], version = "*"}
pyarrow = "*"
torch-geometric = "*"
gymnasium = "*"
networkx = "*"
tensorboard = "*"
tensorboardx = "*"

[dev-packages]
ipykernel = "*"
black = "*"
ruff = "*"
functiontrace = "*"
ipywidgets = "*"

[requires]
python_version = "3.10"
