[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
cython = "*"
tqdm = "*"
scipy = "*"
pyscipopt = "*"
numba = "*"
pysat = "*"
torch = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"
black = "*"
ruff = "*"

[requires]
python_version = "3.11"
